<a href="https://colab.research.google.com/github/Galileub/Python/blob/master/Aula_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
texto1 = "A idade de Galileu em 3 anos ser√°?"
#print(texto1)
nome = "Galileu"
#print(nome)

idade = 32
idade

idade + 3
idade = idade + 3
idade
#print(idade)

#def mais_um_ano(idade):
#    print("ta dentro dessa funcao")
#    return idade + 1
#mais_um_ano(43)

#filme1 = "Toy Story 17"
#filme2 = "O Canto"
#filme3 = "Matrix 1"

filmes = ['Toy Story 17', 'O Canto', 'Matrix 1 ']
filmes
#list()

def imprime_filmes(filmes_que_quero_imprimir):
    print("A lista de filmes que eu tenho disponivel")
    for filme in filmes_que_quero_imprimir:
      print(filme)
imprime_filmes(filmes)
    #print(filmes_que_quero_imprimir)

#imprime_filmes(filmes)
#filmes[1:]

#for filme in filmes:
#    print(filme)


dados = {"nome" : "Guilherme",
         "idade" : 37,
         "empresa" : "Alura"}
dados
dados["empresa"]

'Alura'